<header id="header">
  <div class="content">
    <div class="inner">
      <p>Rats Play Doom</p>
    </div>
  </div>
  <nav>
    <ul>
      <li><a href="#intro">Intro</a></li>
      <li><a href="#hardware">Hardware</a></li>
      <li><a href="#software">Software</a></li>
      <li><a href="#results">Results</a></li>
      <!--<li><a href="#elements">Elements</a></li>-->
    </ul>
  </nav>
  <div class="contact-container">
    <div class="contact-card">
      <img src="man1.jpg" alt="Man 1">
      <h3>John Doe</h3>
      <p>Email: john.doe@example.com</p>
      <p>Phone: +1234567890</p>
    </div>
    <div class="contact-card">
      <img src="man2.jpg" alt="Man 2">
      <h3>Mike Smith</h3>
      <p>Email: mike.smith@example.com</p>
      <p>Phone: +0987654321</p>
    </div>
    <div class="contact-card">
      <img src="man3.jpg" alt="Man 3">
      <h3>James Brown</h3>
      <p>Email: james.brown@example.com</p>
      <p>Phone: +1122334455</p>
    </div>
  </div>
</header>